<!-- Header -->
<header class="header is-sticky is-shrink">
  <div class="header-main">
     <div class="container">
        <div class="row justify-content-between align-items-center">
           <!-- Logo  -->
           <div class="col-md-6 col-10">
              <div class="site-info">
                  <div class="site-logo">
                     <a href="{{site.baseurl}}/">
                        <img src="{{ site.logo.main | relative_url }}" alt="{{ site.title }}"/>
                     </a>
                  </div>
                  <div class="site-desc">
                     <a href="{{site.baseurl}}/">ArAIEval</a>
                     <p>Arabic AI Tasks Evaluation (ArAIEval)</p>
                  </div>
              </div>
           </div>
           <div class="col-md-6 col-2">
              <!-- Menu Toogle -->
              <div class="header-nav-toggle text-end">
                 <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                    <div class="toggle-line">
                       <span></span>
                    </div>
                 </a>
              </div>
              <!-- Menu Toogle -->
              <div class="header-navbar">
                
                 <nav class="header-menu" id="header-menu">
                     {% if site.data.menus.primary[0] %}
                        {% for item in site.data.menus.primary %}
                           {% if item.subfolderitems[0] %}
                              <ul class="menu">
                              {% for entry in item.subfolderitems %}
                                    <li class="{% if entry.subsubfolderitems[0] %}has-sub{% endif %} menu-item">
                                       <a class="menu-link nav-link {% if entry.subsubfolderitems[0] %}menu-toggle{% endif %}" href="{{ entry.url }}">{{ entry.name }}</a>
                                       {% if entry.subsubfolderitems[0] %}
                                          <ul class="menu-sub menu-drop">
                                             {% for subentry in entry.subsubfolderitems %}
                                                <li class="menu-item">
                                                   <a class="menu-link nav-link" href="{{ subentry.url }}">{{ subentry.name }}</a>
                                                </li>
                                             {% endfor %}
                                          </ul>
                                       {% endif %}
                                    </li>
                              {% endfor %}
                              </ul>
                           {% endif %}
                        {% endfor %}
                     {% endif %}                    
                 </nav>
              </div><!-- .header-navbar -->
           </div>
           <!-- ./col -->
        </div>
     </div>
  </div>
</header>
<!-- end header -->